/* CATATAN DEVELOPER /*  

    #0e7f79 = warna hijau tua
    #dff8fe = warna hijau muda 
    #333 = warna hendak hitam
    #031730 = warna biru donker 

/* ALL */

html {
    font-family: Garamond, serif, Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/* BODY */

body {
    margin: 0;
}

/* NAVBAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation { /*navbar*/
    width: 100%;
    margin: 0px;
    top: 0;
    overflow: hidden;
    background-color: #0e7f79;
    display: block;
    position: fixed;
    z-index: 1;
}

.navigation ul li { /*navbar list*/
    display: inline;
    float: right;
    background-color: black;
}

.navigation ul li a { /*navbar list box*/
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 375px) { /* responsive title */
    .navigation ul li a {
        font-size: calc(14px + 15 * ((100vw - 521px) / 521));
        padding: 14px calc(13px + 8 * ((100vw - 521px) / 521));
    }
}

@media screen and (min-width: 376px) { /* responsive title */
    .navigation ul li a {
        padding: 14px 15.4px;
    }
}

.navigation a:hover { /*navbar list box when cursored*/
    background-color: #dff8fe;
    color: black;
    transition: 0.3s;
}

.progress-container {
    width: 100%;
    height: 3px;
    background: #ccc;
}

.progress-bar {
    height: 3px;
    background-color: #0e7f79;
    width: 0%;
}

/* TO THE TOP BUTTON */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0e7f79;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
}
  
#myBtn:hover {
    background-color: black; /* Add a dark-grey background on hover */
}

/* MASTER CONTENT */
.master_content {
    display: block;
    padding-top: 46px;
}

.sub-title {
    padding: 12px 0 12px 0;
    font-size: larger;
    font-weight: bolder;
}

/* HEADER */

.header {
    text-align: center;
    background-color: #333;
}

.header img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* TITLE */

.title {
    display: block;
    padding: 45px 12px;
    text-align: center;
    font-size: larger;
    background-color: #DFF8FE;
}

@media screen and (max-width: 510px) { /* responsive title */
    #head-title {
        font-size: calc(47px + 50 * ((100vw - 510px) / 510));
        font-weight: bold;
    }
    #subhead-title {
        font-size: calc(17px + 18 * ((100vw - 510px) / 510));
    }
}

@media screen and (min-width: 511px) { /* responsive title */
    #head-title {
        font-size: 50px;
        font-weight: bold;
        }
    #subhead-title {
        font-size: 18px;
    }
}

#subhead-title {
    font-family: 'Courier New', Courier, monospace;
}

/* PROFILE */

.profile {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Georgia, 'Times New Roman', Times, serif;
    margin: 24px 12px;
}

/* MEMBER */
.member { 
    padding-top: 40px;
    text-align: center;
    background-color: #DFF8FE;
    padding-bottom: 10px;
}

#memberTitle {
    display: block;
    padding-bottom: 12px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  min-height: 454px;
  position: relative;
  margin: auto;
  background-color: #333;
}

/* Hide the images by default */
.mySlides {
  display: none;
  pointer-events: none;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Number text (1/34 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  margin: 0 2px 12px 2px;
  padding: 3px 6px;
  background-color: #bbb;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.6s ease;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* GALLERY */

.gallery {
    left: 0;
    right: 0;
    text-align: center;
    padding: 30px 0 0 0;
}

.gallery ul li {
    display: inline-block;
}

.gallery ul li a {
    display: block;
    margin: 12px;
    background-color: rgba(0,0,0,0.05);
    min-height: 170px;
    max-height: 255px;
}

#gallery-img {
    min-height: 170px;
    max-height: 255px;
}

#galleryTitle {
    display: block;
    padding-top: 25px;
}

/* LINKING */

.linking {
    text-align: center;
    left: 0;
    right: 0;
    padding: 30px 0 0 0;
}

.linking ul li {
    display: inline-block;
}

.linking ul li a {
    display: block;
    margin: 12px;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
    font-family: serif;
    font-size: smaller;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Courier New', Courier, monospace;
}

.linking ul li a:hover {
    transition: all ease 0.3s;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 5px;
}

#stuffTitle {
    display: block;
    background-color: #DFF8FE;
    padding: 25px;
}

/* SOCIAL MEDIA SIGN */

.socmed_icon {
    background-color: #DFF8FE;
    text-align: center;
    left: 0;
    right: 0;
    padding: 40px 0 0 0;
}

.socmed_icon i {
    position: relative;
    display: inline-block;
}

#socmed_sign {
    display: block;
    font-size: larger;
}

.socmed_icon i a {
    display: block;
    margin: 14px 24px;
    padding: 6px;
    fill: #0e7f79;
    text-decoration: none;
    font-style: normal;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;
}

.socmed_icon i a:hover {
    transform: scale(1.05);
    transition: 0.3s;
    color: black;
}

#icon_instagram:hover {
    fill: url(#instagram_gradient);
}

#icon_youtube:hover {
    fill: #cd201f;
}

#icon_discord:hover {
    fill: #5765EC;
}

#icon_spotify:hover {
    fill: #1db954;
    border-radius: 20%;
    background-color: black;
}

/* FILLER */

.filler {
    text-align: center;
    left: 0;
    right: 0;
    padding: 12px 0 0 0;
}

.filler ul li {
    display: inline-block;
}

.filler ul li a {
    display: block;
    margin: 12px;
    pointer-events: none;
    background-color: rgba(0,0,0,0.05);
}

/* FOOTER */

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Georgia, 'Times New Roman', Times, serif;
    margin-top: 24px;
    padding-top: 6px;
    background-color: #DFF8FE;
}

.footer p {
    margin: 12px;
}

.footer #foot_bottom {
    background-color: black;
    color: rgba(255, 255, 255, 0.233);
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    margin: 0;
    padding: 12px;
}
